
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:

      # ---------------------------
      # Prometheus
      # ---------------------------
      - job_name: "prometheus"
        static_configs:
          - targets: ["localhost:9090"]


      # ---------------------------
      # Kubernetes API Server
      # ---------------------------
      - job_name: "kubernetes-apiserver"
        kubernetes_sd_configs:
          - role: endpoints

        scheme: https
        tls_config:
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token

        relabel_configs:
          - source_labels:
              - __meta_kubernetes_namespace
              - __meta_kubernetes_service_name
              - __meta_kubernetes_endpoint_port_name
            action: keep
            regex: default;kubernetes;https


      # ---------------------------
      # Kubelet (Node Health)
      # ---------------------------
      - job_name: "kubelet"
        kubernetes_sd_configs:
          - role: node

        scheme: https
        tls_config:
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token

        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)

          - source_labels: [__meta_kubernetes_node_name]
            target_label: node

          - target_label: __address__
            replacement: kubernetes.default.svc:443

          - source_labels: [__meta_kubernetes_node_name]
            target_label: __metrics_path__
            replacement: /api/v1/nodes/$1/proxy/metrics
      # ---------------------------
      # Kubelet cAdvisor (Containers)
      # ---------------------------
      - job_name: "kubelet-cadvisor"
        kubernetes_sd_configs:
          - role: node

        scheme: https
        tls_config:
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token

        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)

          - source_labels: [__meta_kubernetes_node_name]
            target_label: node

          - target_label: __address__
            replacement: kubernetes.default.svc:443

          - source_labels: [__meta_kubernetes_node_name]
            target_label: __metrics_path__
            replacement: /api/v1/nodes/$1/proxy/metrics/cadvisor

      # ---------------------------
      # kube-state-metrics
      # ---------------------------
      - job_name: "kube-state-metrics"
        kubernetes_sd_configs:
          - role: endpoints

        relabel_configs:
          - source_labels: [__meta_kubernetes_service_label_app]
            action: keep
            regex: kube-state-metrics

          - source_labels: [__meta_kubernetes_endpoint_port_name]
            action: keep
            regex: http-metrics

          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace

          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod

          - source_labels: [__meta_kubernetes_pod_node_name]
            target_label: node
      # ---------------------------
      # Node Exporter
      # ---------------------------
      - job_name: "node-exporter"
        kubernetes_sd_configs:
          - role: endpoints

        relabel_configs:
          - source_labels: [__meta_kubernetes_service_label_app]
            action: keep
            regex: node-exporter

          - source_labels: [__meta_kubernetes_endpoint_port_name]
            action: keep
            regex: metrics

          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace

          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod

          - source_labels: [__meta_kubernetes_pod_node_name]
            target_label: node




      # ---------------------------
      # CoreDNS
      # ---------------------------
      - job_name: "coredns"
        kubernetes_sd_configs:
          - role: endpoints

        relabel_configs:
          - source_labels:
              - __meta_kubernetes_namespace
              - __meta_kubernetes_service_name
              - __meta_kubernetes_endpoint_port_name
            action: keep
            regex: kube-system;kube-dns;metrics


      # ---------------------------
      # Application Pods (Annotation-based)
      # ---------------------------
      - job_name: "kubernetes-pods"
        kubernetes_sd_configs:
          - role: pod

        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: "true"

          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)

          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_port]
            action: replace
            target_label: __address__
            regex: (.+)
            replacement: $1

